<ion-view hide-tabs="true" view-title="Different">
  <ion-nav-bar class="bar bar-header">
  </ion-nav-bar>

  <ion-content class="padding">

  </ion-content>
  <nav mfb-menu position="br" effect="zoomin" label="Edit"
       active-icon="ion-minus-round" resting-icon="ion-plus-round"
       toggling-method="click">
    <button mfb-button icon="ion-ios-close-outline" label="Hide" ng-click="cemfb_hideClicked()"></button>
    <button mfb-button icon="ion-edit" label="Post"></button>
  </nav>
</ion-view>
