<!--<ion-view view-title="Search">-->
<!--<ion-content>-->
<!--<div class="list list-inset">-->
<!--<label class="item item-input">-->
<!--<i class="icon ion-search placeholder-icon"></i>-->
<!--<input type="text" placeholder="Enter your keywords here">-->
<!--</label>-->
<!--</div>-->

<!---->

<!--</ion-content>-->
<!--</ion-view>-->

<ion-view view-title="Search">
  <ion-nav-bar class="bar bar-header">
  </ion-nav-bar>
  <ion-content class="padding">
    <!--<div class="scroll">-->
    <!--<button class="button button-full button-positive" ng-click="addAttachment()">-->
    <!--select（选择图片）-->
    <!--</button>-->

    <!--<div class="list">-->
    <!--<div class="item" ng-repeat="img in images_list">-->
    <!--<img src="{{img}}" width="100%">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Enter your keywords here">
    </label>
    </div>

    <div class="row" style="margin: 0 auto">
      <div class="col-33" align="center">

        <img src="img/photo.png" width="70%">

        <p style="color: grey;font-size: large">Photo</p>
      </div>
      <div class="col-33" align="center">

        <img src="img/design.png" width="70%">

        <p style="color: grey;font-size: large">Design</p>
      </div>
      <div class="col-33" align="center">
        <img src="img/music.png" width="70%">

        <p style="color: grey;font-size: large">Music</p>
      </div>

    </div>
    <div class="row" style="margin: 0 auto">
      <div class="col-33" align="center">

        <img src="img/movie.png" width="70%">

        <p style="color: grey;font-size: large">Video</p>
      </div>
      <div class="col-33" align="center">

        <img src="img/sport.png" width="70%">

        <p style="color: grey;font-size: large">Sport</p>
      </div>
      <div class="col-33" align="center">
        <img src="img/art.png" width="70%">

        <p style="color: grey;font-size: large">StageArt</p>
      </div>
    </div>
    <div class="row" style="margin: 0 auto">
      <div class="col-33" align="center">

        <img src="img/handcraft.png" width="70%">

        <p style="color: grey;font-size: large">HandCraft</p>
      </div>
      <div class="col-33" align="center">

        <img src="img/painting.png" width="70%">

        <p style="color: grey;font-size: large">Painting</p>
      </div>
      <div class="col-33" align="center">
        <img src="img/coding.png" width="70%">

        <p style="color: grey;font-size: large">Coding</p>
      </div>
    </div>

  </ion-content>
</ion-view>

