<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="bar bar-header has-tabs-top bar-positive">
      <div class="tabs-striped tabs-background-positive tabs-color-light">
        <div class="tabs">
          <a class="tab-item " href="#">
            Activity
          </a>
          <a class="tab-item" href="#">
            Follower
          </a>
          <a class="tab-item" href="#">
            Recommend
          </a>
        </div>
      </div>
      <!--
      <div class="button-bar" style="margin-top: -10px;">
        <a class="button button-block {{topItems.firstSelected}}"
           ng-click="activityTapped()">Activity</a>
        <a class="button button-block {{topItems.secondSelected}}"
           ng-click="followersTapped()">Follower</a>
        <a class="button button-block {{topItems.thirdSelected}}"
           ng-click="recommendsTapped()">Recommend</a>
      </div>
      -->
  </ion-content>
</ion-view>
