<ion-view view-title="Search">
  <ion-content>
   <!-- <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter your keywords here">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    Search
                  </button>
               </span>
      </div>
    </div>-->

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Enter your keywords here">
      </label>
    </div>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Age
        </div>
        <select>
          <option><18</option>
          <option selected>18-22</option>
          <option>22-30</option>
          <option><30</option>
        </select>
      </label>


      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <select>
          <option selected>Male</option>
          <option>Female</option>
        </select>
      </label>


      <label class="item item-input item-select">
        <div class="input-label">
          School
        </div>
        <select>
          <option selected>Fudan Univ.</option>
          <option>Other Univ.</option>
        </select>
      </label>



      <label class="item item-input item-select">
        <div class="input-label">
          Type
        </div>
        <select>
          <option selected>User</option>
          <option>Visitor</option>
        </select>
      </label>

    </div>



  </ion-content>
</ion-view>
