<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/user.jpg">

        <h2>Pretty Machine</h2>

        <p style="height:40px;white-space:normal;">Some description or the beginning of the article or
          something else</p>

        <div style="position: relative;top:22px;">
          <i class="icon ion-thumbsup" style="padding-left: 5px"></i>
          <i class="icon ion-chatbox" style="padding-left: 20px"></i>
          <i class="icon ion-share" style="padding-left: 20px"></i>
        </div>
      </a>
    </div>


    <!--<div class="bar bar-header has-tabs-top bar-positive">
      <div class="tabs-striped tabs-background-positive tabs-color-light">
        <div class="tabs">
          <a class="tab-item " href="#">
            Activity
          </a>
          <a class="tab-item" href="#">
            Follower
          </a>
          <a class="tab-item" href="#">
            Recommend
          </a>
        </div>
      </div>
    </div>-->
    <!--<div class="row">-->
    <!--<div class="col col-50">-->
    <!--<div class="list card">-->
    <!--<div class="item item-avatar">-->
    <!--<img src="img/ben.png">-->

    <!--<h2>Ben</h2>-->

    <!--<p>7月31号</p>-->
    <!--</div>-->

    <!--<div class="item item-body">-->
    <!--<img width="50" src="img/user.jpg">-->

    <!--<p>-->
    <!--Picture cat.-->
    <!--</p>-->

    <!--<p>-->
    <!--<a href="#" class="subdued">1 赞</a>-->
    <!--<a href="#" class="subdued">5 评论</a>-->
    <!--</p>-->
    <!--</div>-->

    <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
    <!--<a class="tab-item" href="#">-->
    <!--<i class="icon ion-thumbsup"></i>-->
    <!--赞-->
    <!--</a>-->
    <!--<a class="tab-item" href="#">-->
    <!--<i class="icon ion-chatbox"></i>-->
    <!--评论-->
    <!--</a>-->
    <!--<a class="tab-item" href="#">-->
    <!--<i class="icon ion-share"></i>-->
    <!--分享-->
    <!--</a>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="col col-50">-->
    <!--<div class="list card">-->
    <!--<div class="item item-avatar">-->
    <!--<img src="img/ben.png">-->

    <!--<h2>Ben</h2>-->

    <!--<p>7月31号</p>-->
    <!--</div>-->

    <!--<div class="item item-body">-->
    <!--<img width="50" src="img/user.jpg">-->

    <!--<p>-->
    <!--Picture cat.-->
    <!--</p>-->

    <!--<p>-->
    <!--<a href="#" class="subdued">1 赞</a>-->
    <!--<a href="#" class="subdued">5 评论</a>-->
    <!--</p>-->
    <!--</div>-->

    <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
    <!--<a class="tab-item" href="#">-->
    <!--<i class="icon ion-thumbsup"></i>-->
    <!--赞-->
    <!--</a>-->
    <!--<a class="tab-item" href="#">-->
    <!--<i class="icon ion-chatbox"></i>-->
    <!--评论-->
    <!--</a>-->
    <!--<a class="tab-item" href="#">-->
    <!--<i class="icon ion-share"></i>-->
    <!--分享-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--
    <div class="button-bar" style="margin-top: -10px;">
      <a class="button button-block {{topItems.firstSelected}}"
         ng-click="activityTapped()">Activity</a>
      <a class="button button-block {{topItems.secondSelected}}"
         ng-click="followersTapped()">Follower</a>
      <a class="button button-block {{topItems.thirdSelected}}"
         ng-click="recommendsTapped()">Recommend</a>
    </div>
    -->
  </ion-content>
</ion-view>
