<ion-view>
  <ion-content style="background-image: url('img/Babel.jpg');background-repeat: no-repeat;background-size:100% 100%;">
    <div class="row" style="margin: 0 auto">
      <div class="col" align="center" style="margin-top: 50px">
        <div class="app-logo"><img src="img/LOGO.png" style="width: 150px;"></div>

        <div class="list list-inset removePM" style="margin-top: 50px;">
          <label class="item item-input"><input type="text" placeholder="Name"> </label>
          <label class="item item-input"><input type="text" placeholder="Grade"> </label>

          <label class="item item-input item-select" >
            <div class="input-label" style="display:block;max-width: 200px;width:auto;color: rgba(0,0,0,0.32);font-size: 14px;">
              Gender
            </div>
            <select>
              <option>Male</option>
              <option>Female</option>
            </select>
          </label>

          <label class="item item-input"><input type="password" placeholder="Password"> </label>
          <label class="item item-input"><input type="password" placeholder="Rep_Password"> </label>

        </div>

        <div class="loginButton">
          <button type="submit" class="button ion-android-lock button-block button-dark" ng-click="Sign_up()"> Sign up
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
